<h1>
<%= @game.current_turn.name %> attacked <%= @game.opponent_of(@game.current_turn).name %>
</h1>

<form action="/switch-turns" method="post">
  <input type='submit' value='Ok'>
</form>

<h2>
<%= @game.player_2.name %> : <%= @game.player_2.hit_points %>HP
</h2>

<h2>
<%= @game.player_1.name %> : <%= @game.player_1.hit_points %>HP
</h2>
